@import
url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.form-content{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background: white;
}
form h2{
    color: #ffbe6a;
    text-shadow: 2px 2px 5px #f6ffaa;
    text-align: center;
}
input{
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid #ffbe6a;
    background: transparent;
    color: red;
    transition:opacity .2s;
}
#username{
    order: 3;
    color: black;
}
input[type="text"]{
    order: 2;
}
#password{
    order: 3;
    color: black;
}
iput[type="password"]{
    order: 4;
}
#btn{
    width: 40%;
    height: 30px;
    margin-left: 60%;
    order: 5;
    border: 2px solid #ffbe6a;
    color: black;
    background: #ffbe6a;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
}
input[type="password"]:focus:valid{
    border-bottom: 2px solid #00ff04;
}

